<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cleaner.emptykesh">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7164494629924185~2877222817" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="cleaner" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="b6dn7.app.link"
                    android:scheme="https" />
                <data
                    android:host="b6dn7-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>

        </activity>
        <activity
            android:name=".PowerSavingDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ultra_PopUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BatterySaver_Black"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Noraml_Mode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PowerSavingCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Applying_Ultra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CpuScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickAppsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <receiver android:name=".Alaram_Booster" />
        <receiver android:name=".Alaram_Junk" />
        <receiver android:name=".AppListener">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PowerConnected">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Broadcast.AlarmReceiver" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_ii0pADwonga7DlU0jhltIhapFBe29AzL" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_aj5cvuDlahk6zbG6eal40ohhvxb56sC6" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
    </application>

</manifest>